* {
    /* Browser automatically gives all block elements margin and padding.
    This resets margin and padding to 0.  */
    margin: 0;
    padding: 0;
    /*  */
    box-sizing: border-box;
  }
body
{
    background-color: #eeebd3;
    min-width: 500px;
}
.header{
    text-align: center;
    background-color: #255957;
    color:#eeebd3;
}



.menu-items{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #437c90;
    color:#eeebd3;
}   

img#mugshot{
    width:200px; 
    display:block; 
    margin: 1rem auto; 
    border-radius: 100%; 
    border-style:solid; 
    border-width: 2px;

}

li.button{
    list-style-type: none;
}

.bio,.work-experience,.education,.contact{
    padding:2rem 0;
    margin: 0 auto;
    width: 80%;
}

.links-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.logo{
    width:150px;
}



/* @media screen and (min-width:700px){
    
    
} */