* {
    /* Browser automatically gives all block elements margin and padding.
    This resets margin and padding to 0.  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    /* --main-bg-color:#eeebd3;
    --header-color:#255957;
    --menu-color:#437c90; */

    /* --main-bg-color:#f3f8f2;
    --header-color:#002642;
    --menu-color:#2f97c1; */

    --main-bg-color:#f3f8f2;
    --header-color:#255957;
    --menu-color:#2f97c1;

    /* --main-bg-color: white;
    --header-color:#004E64;
    --menu-color:#FC9F5B; */

    

}
body
{
    background-color: var(--main-bg-color);
    min-width: 500px;
    line-height: 2;
    font-family: 'Baloo Chettan 2', cursive;
}
.header{
    text-align: center;
    background-color: var(--header-color);
    color:var(--main-bg-color);
}



.menu-items{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--menu-color);
    color:var(--main-bg-color);
}   

img#mugshot{
    width:250px; 
    display:block; 
    margin: 1rem auto; 
    border-radius: 100%; 
    border-style:solid; 
    border-width: 2px;

}

li.button{
    list-style-type: none;
}

.bio,.work-experience,.education,.contact{
    padding:2rem 0;
    margin: 0 auto;
    width: 80%;
}

.links-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.logo{
    width:150px;
}
.logo-container{
    margin:1rem;
}

.header > h1{
    font-weight: bolder;
}



 @media screen and (max-width:600px){
     .links-container{
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
     }
    
    
} 